.modal {
  display: block;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgba(0,0,0,0.5); /* Fondo scuro traslucido */
  overflow: auto;

  @media  (min-width: 767px){
    display: block;
    position: fixed;
    left: 140px;
    width: calc(100% - 110px);
    overflow: auto;
  }
  @media  (max-width: 766px){
    margin-top: 75px;
    height: calc(100% - 75px);
}
}
.modal-content {
  background-color: #fefefe;
  margin: 20px auto; /* Posiziona la finestra modale al centro */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 800px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  // @media  (max-width: 766px){
  //   margin-top: 100px;
  // }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

.technologies-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 8px;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 35px;

}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
