<div *ngIf="this.specialized == 'true'" class="icons-container">
  <div *ngFor="let skill of specializedSkills" class="skill-icon">
    <div class="icon-window">
      <img [src]="skill.iconLink" [alt]="skill.alt" />
    </div>
    <div class="skill-tip">{{ skill.name }}</div>
  </div>
</div>

<div *ngIf="this.specialized == 'false'" class="icons-container">
  <div *ngFor="let skill of notSpecializedSkills" class="skill-icon">
    <div class="icon-window">
      <img [src]="skill.iconLink" [alt]="skill.alt" />
    </div>
    <div class="skill-tip">{{ skill.name }}</div>
  </div>
</div>
